@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import './Containers/Navbar/Navbar.css';
@import './Variables.css';
@import './Components/Home/Home.css';
@import './Components/Services/Services.css';
@import './Components/Companies/Componies.css';
@import './Components/HappyClient/HappyClient.css';
@import './Components/ISS/TabNav.css';

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

h3{
  color: var(--color-bacground) !important;
  padding-bottom: .6em;
  padding-top: 2em;
  font-weight: 400;
  text-align: center;
}
h4{
  color: var(--color-bacground) !important;
  padding-bottom: .8em;
  font-weight: 400;
}

 p{
  font-weight: 300;
}


body{
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 769px){
  html{
    font-size: 90%;
  }
}
